<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="backTolist()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" *ngIf="mode === 'new'">
      {{'new_abonne' | translate}}
    </ion-title>
    <ion-title color="light" *ngIf="mode === 'edit'">
      {{'abonne' | translate}} [{{abonne.nom}}]
    </ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form class="cat_form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)" #myForm="ngForm">
    <!-- nom-->
    <ion-item>
      <ion-label position="stacked">{{'nom' | translate }}</ion-label>
      <ion-input formControlName="nom" placeholder="{{'nom' | translate }}" type="text" name="nom">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of global.validation_messages.nom">
        <div class="error-message"
          *ngIf="validations_form.get('nom').hasError(validation.type) && (validations_form.get('nom').dirty || validations_form.get('nom').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation['message_' + global.lang] }}
        </div>
      </ng-container>
    </div>
    <!-- tarif-->
    <ion-item>
      <ion-label position="stacked">{{'tarif' | translate }}</ion-label>
      <ion-input formControlName="tarif" placeholder="{{'tarif' | translate }}" type="number" name="tarif">
      </ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of global.validation_messages.tarif">
        <div class="error-message"
          *ngIf="validations_form.get('tarif').hasError(validation.type) && (validations_form.get('tarif').dirty || validations_form.get('tarif').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation['message_' + global.lang] }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">{{'email' | translate }}</ion-label>
      <ion-input formControlName="email" placeholder="{{'email' | translate }}" type="email" name="email">
      </ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of global.validation_messages.email">
        <div class="error-message"
          *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation['message_' + global.lang] }}
        </div>
      </ng-container>
    </div>

    <ion-item>
      <ion-label position="stacked">{{'phone_number' | translate }}</ion-label>
      <ion-input formControlName="tel" placeholder="{{'phone_number' | translate }}" type="text" name="tel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">{{'address' | translate }}</ion-label>
      <ion-input formControlName="address" placeholder="{{'address' | translate }}" type="text"></ion-input>
    </ion-item>

  </form>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-grid>
    <ion-row *ngIf="mode === 'new'">
      <ion-col size="12">
        <ion-button color="secondary" expand="full" [disabled]="!validations_form.valid"
          (click)="myForm.ngSubmit.emit()">
          {{'save' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="mode === 'edit'">
      <ion-col size="12">
        <ion-button color="secondary" expand="full" [disabled]="!validations_form.valid"
          (click)="myForm.ngSubmit.emit()">
          {{'update' | translate}}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>