.list-md {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    background: var(--ion-item-background,var(--ion-background-color,#fff));
}
.profile_form{
    // background:var(--ion-color-medium-shade);
    --ion-item-background:none;
    padding:var(--content-padding) 0px;
    margin-top:var(--content-padding);
    ion-item{
        --detail-icon-opacity: 0.85;
        margin-bottom:calc(var(--content-padding)/2);
        --padding-start:var(--content-padding);
        --inner-padding-end:var(--content-padding); 
        ion-label{
            font-weight:bold;
            font-size:1.3rem;
            transform: none!important;
        }
        ion-input{
            --placeholder-color:var(--ion-color-secondary)!important;
            --placeholder-opacity:.8;
        }
        ion-button{
            width:50px;
            height:50px;
            margin:0px!important;
            --ripple-color:transparent!important; 
            ion-icon{
                font-size:1.8rem;
            }
        }
        &.item-interactive-disabled{
            ion-label{
                opacity: .8;
            }
        }
        
    }
}

.error-message
{
  color: var(--ion-color-danger);
  font-size: 1.2rem;
  padding:0px var(--content-padding);
  margin-bottom:var(--content-padding);
}


ion-footer{
    ion-grid {
        margin: 0 !important;
        padding: 0 !important;
        ion-row {
           vertical-align: bottom;
           justify-content: center;
           margin: 0 !important;
           padding: 0 !important;

           ion-col {
            margin: 0 !important;
            padding: 0 !important;
        }
    
       }
   
   }
}

.option {
   width: 100% !important;
    max-width: 100% !important;
  }
  .selector { 
    width: 100% !important;
    max-width: 100% !important;
  }