<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light"> 
      {{'notification' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button ion-activatable (click)="global.search($event)">
        <ion-ripple-effect></ion-ripple-effect>
        <ion-icon slot="icon-only" color="light" name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="items.length != 0">
    <ion-item-sliding *ngFor="let item of items">
      <ion-item  [routerLink]="['/details']" routerDirection="forward" >
        <div class="container">
          <ion-grid no-padding>
            <ion-row>
              <ion-col no-padding>
                <span class="category">{{item['category_' + global.lang]}}</span>
              </ion-col>
              <ion-col size="auto" no-padding>
                <ion-text color="primary">
                  <p>{{item['time_' + global.lang]}}</p>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-text color="secondary">
            <h4>{{item['title_' + global.lang]}}</h4>
            <p>
              {{item['details_' + global.lang]}}
            </p>
          </ion-text>
        </div>
      </ion-item>
      <ion-item-options side="start" (ionSwipe)="action(item)"> </ion-item-options>
      <ion-item-options side="end" (ionSwipe)="action(item)">
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <div class="no_items" *ngIf="items.length == 0">
      <ion-icon name="notifications-off" color="primary"></ion-icon> 
    <ion-text color="secondary">
      <p>{{'empty_notifications' | translate}}</p>
    </ion-text>
  </div>
</ion-content>