<ion-content>
  <div class="container">
    <ion-button fill="clear" type="button" (click)="close()">
      <ion-icon slot="icon-only" name="close" color="light"></ion-icon>
    </ion-button>
    <div class="inner">
      <h4> {{'reset_password' | translate}}</h4>
      <form class="sign_form" [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">

        <!-- Email -->
        <ion-item>
          <ion-icon name="md-call" slot="start" color="secondary" margin-end></ion-icon>
          <ion-input placeholder="{{'phone_number' | translate }}" formControlName="login" type="text"></ion-input>
        </ion-item>
        <div class="validation-errors">
          <ng-container *ngFor="let validation of global.validation_messages.phone">
            <div class="error-message"
              *ngIf="validations_form.get('login').hasError(validation.type) && (validations_form.get('login').dirty || validations_form.get('login').touched)">
              <ion-icon name="information-circle-outline"></ion-icon> {{ validation['message_' + global.lang] }}
            </div>
          </ng-container>
        </div>

        <ion-button expand="full" type="submit" [disabled]="!validations_form.valid">
          {{'send' | translate}}
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>