ion-content{
    --background:rgba(var(--ion-color-dark-rgba),.5);
    .container{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        flex-direction: column;
        padding:var(--ion-padding);
        height:100%; 
        .inner{
            padding:var(--content-padding);
            background:var(--ion-color-light); 
            width:100%;
            max-width:440px;
            text-align: center;
            h4{
                text-align: center;
                margin:0px;
                height: 40px;
                line-height:40px;
                margin-bottom: 10px;
                border-bottom:2px solid var(--ion-color-primary);
                display:inline-block;
                padding:0px var(--content-padding);
            }
            ion-item{
                --padding-start:0px;
                border-bottom:1px solid var(--ion-color-secondary);
            }
            .button{
                margin-top:var(--ion-padding);
            }
        }
    }
}