h4{
    font-weight:bold;
    margin:0;
    max-width:100%;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    color:var(--ion-color-primary);
  }
.montant{   
    font-weight: bold; ;
    color: #000000;
    padding-right: 5px;
}
ion-item-sliding{
    padding: 0px 10px 0px 10px !important;
}