<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" (click)="backTolist()"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">
      {{'Situation des impayés' | translate}}
    </ion-title>
    <ion-buttons slot="end">
      <!-- <ion-button color="light" (click)="createPdf()">
        <ion-icon slot="icon-only" name="send"></ion-icon>
      </ion-button> -->
      <ion-button color="light" (click)="print()">
        <ion-icon slot="icon-only" name="print"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar class="periode-line">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="back()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title color="light" style="text-align: center;">
      {{year}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" (click)="forward()">
        <ion-icon slot="icon-only" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>
<ion-content padding>
  <div class="printable-area" id="printable-area">

    <table style="margin: 0; width: 100%;border-spacing : 0;">
      <tr>
        <th width="15%"
          style="text-align: left;padding: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000; "> DATE</th>
        <th width="15%" style="text-align: left;padding: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000;">
          REF.</th>
        <th width="15%"
          style=" text-align: left;padding: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000; ">
          {{'telephone' | translate | uppercase}}</th>
        <th width="40%" style="text-align: left;padding: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000;">
          {{'description' | translate | uppercase}}</th>
        <th width="15%"
          style=" text-align: right;padding: 4px;border-top: 1px solid #000;border-bottom: 1px solid #000;">
          {{'montant' | translate | uppercase}}</th>

      </tr>
      <tr *ngFor="let item of items">
        <td style="text-align: left;padding: 4px;border-bottom: 1px solid #000;">
          {{item.datec | date:'dd/MM/yy'}}</td>
        <td style="text-align: left;padding: 4px;border-bottom: 1px solid #000;"> {{item.ref}}</td>
        <td style=" text-align: left;padding: 4px;border-bottom: 1px solid #000;">
          {{item.tel}}</td>
        <td style="text-align: left;padding: 4px;border-bottom: 1px solid #000;"> {{item.categorie}}</td>
        <td style=" text-align: right;padding: 4px;border-bottom: 1px solid #000;">
          {{item.recette | number :'1.0-2'}}</td>

      </tr>
      <tr>
        <td style="text-align: left;padding: 4px;border-bottom: 1px solid #000;"> </td>
        <td style="text-align: left;padding: 4px;border-bottom: 1px solid #000;"></td>
        <td style=" text-align: right;padding: 4px;border-bottom: 1px solid #000;font-weight: bold;">
        </td>
        <td style="text-align: right;padding: 4px;border-bottom: 1px solid #000;font-weight: bold;">
          {{'total' | translate | uppercase}}</td>
        <td style=" text-align: right;padding: 4px;border-bottom: 1px solid #000;font-weight: bold;">
          {{total | number :'1.0-2'}}</td>

      </tr>
    </table>

  </div>
  <div class="no_items" *ngIf="items.length == 0">
    <img src="assets/imgs/logo.png" class="no-item-logo">
    <ion-text color="secondary">
      <p>{{'no_items' | translate}}</p>
    </ion-text>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-list>
    <ion-item lines="none">
      <h3 class="total-label">{{'total' | translate | uppercase}} {{'impaye' | translate | uppercase}}: </h3>
      <h3 class="total-montant"> {{total| number :'1.0-2'}} <span class="devise">FCFA</span></h3>
    </ion-item>
  </ion-list>
</ion-footer>